TELEGRAM_BOT_TOKEN=8774470868:AAEVXXnP7XqRHWSIUVpZivKQfq7Jegpow9s
GEMINI_API_KEY=AQ.Ab8RN6KSOAkyaK0ji5O6xJHqDsQMCKRyoakI2o4K9PeZVN008Q

# Neon Postgres (https://neon.tech) — untuk simpan kredit user secara persistent
DATABASE_URL=postgresql://neondb_owner:npg_BwXodjDO8u5f@ep-fancy-truth-atm4we03.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require

# ToyyibPay (https://toyyibpay.com)
TOYYIBPAY_SECRET_KEY=42tomy8m-w7x1-9wdp-xd4z-itav1zdn4ahe
TOYYIBPAY_CATEGORY_CODE=6d32l5s9  
TOYYIBPAY_BASE_URL=https://toyyibpay.com
# ^ guna https://dev.toyyibpay.com untuk sandbox/testing

# URL public app kau (Render akan bagi lepas deploy pertama, contoh:
# https://studentbot-5ubf.onrender.com)
PUBLIC_BASE_URL=https://studentbot-5ubf.onrender.com

# Optional
FREE_STARTING_CREDITS=10
ADMIN_USER_IDS=8842270194

# OpenRouter (backup terakhir kalau semua model Gemini gagal — guna Qwen/Llama, free)
# Kalau tak diisi, bot skip step ni sepenuhnya (tak error, cuma kurang backup)
OPENROUTER_API_KEY=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
